<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
  <% if content_for? :page_title %>
  <title><%= yield_content :page_title %></title>
  <% else %>
  <title><%= current_page.data.title || "" %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "all" %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "jquery-2.1.1.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "all" %>
</body>
</html>
