<%
  header_title = get_header_title(year, quarter)
  content_for :page_title, header_title
  content_for :header_title, header_title
%>

<% animes = data["Anime#{year}Q#{quarter}"] %>

<ol class="breadcrumb">
  <li><%= link_to "HOME", "/index.html" %></li>
  <li><%= link_to year, "/#{year}/index.html" %></li>
  <li class="active"><%= "Q#{quarter}" %></li>
</ol>

<div class="navigation">
  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "タイトル一覧", "/#{year}/Q#{quarter}/titles.html" %>
    <li class="nav-item"><%= link_to "音楽", "/#{year}/Q#{quarter}/music.html" %></li>
    <% locations.each do |key, value| %>
    <li class="nav-item"><%= link_to value, "/#{year}/Q#{quarter}/#{key}.html" %>
    <% end %>
  </ul>
</div>
